<div class="login-page">

    <div class="login-container">


        <div class="brand-section">

            <div class="brand-icon">
                ▦
            </div>


            <h1>
                TaskFlow
            </h1>


            <p>
                Create a new password
            </p>


        </div>



        <div class="login-card">


            <div class="card-header">

                <h2>
                    Reset Password
                </h2>


                <p>
                    Choose a strong password for your account
                </p>


            </div>



            <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" class="login-form">



                <div class="form-group">

                    <label>
                        New Password
                    </label>


                    <input type="password" formControlName="password" placeholder="Enter password">

                        @if (password.touched && password.hasError('passwordStrength')) {

                        <div class="password-rules">

                            @if (!password.errors?.['passwordStrength'].hasMinimumLength) {
                            <small>• Minimum 8 characters</small>
                            }

                            @if (!password.errors?.['passwordStrength'].hasUpperCase) {
                            <small>• One uppercase letter</small>
                            }

                            @if (!password.errors?.['passwordStrength'].hasLowerCase) {
                            <small>• One lowercase letter</small>
                            }

                            @if (!password.errors?.['passwordStrength'].hasNumber) {
                            <small>• One number</small>
                            }

                            @if (!password.errors?.['passwordStrength'].hasSpecialCharacter) {
                            <small>• One special character</small>
                            }

                        </div>
                    }
                </div>




                <div class="form-group">

                    <label>
                        Confirm Password
                    </label>


                    <input type="password" formControlName="confirmPassword" placeholder="Confirm password">



                    @if (confirmPassword.touched &&
                    confirmPassword.hasError('passwordMismatch')) {

                    <span class="error-message">
                        Passwords do not match
                    </span>

                    }



                </div>




                <button class="login-button" type="submit">


                    Reset Password


                </button>



            </form>



            <div class="register-section">

                <a routerLink="/login">

                    Back to Login

                </a>

            </div>


        </div>



    </div>

</div>